@"NODE_ENV=production
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=wss://www.doocardbarbershop.com
NEXT_PUBLIC_PWA_ENABLED=true
NEXT_PUBLIC_APP_NAME=Doocard Barbershop
NEXT_PUBLIC_APP_VERSION=1.2.4
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BHP4sJ--IgJepI-tImGr613Oqoy_bgKQHM8fZOLf4viipPbp8DKbHU2yD0VMSPtEff6rXyo5hPS8xTMvRN-ReoA"@
